$lightColor-100: #f8f9fa;
$lightColor-200: #e9ecef;
$lightColor-300: #dee2e6;
$lightColor-400: #ced4da;
$lightColor-500: #adb5bd;
$darkColor-100: #6c757d;
$darkColor-200: #495057;
$darkColor-300: #343a40;
$darkColor-400: #212529;
