@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;900&family=PT+Serif&display=swap');

$FiraSans: 'Fira Sans', sans-serif;
$PtSerif: 'PT Serif', serif;

$normalWeight: 400;
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;
