@import '../scss/compents/index';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: $lightColor-200;
}

.headerMain {
	display: flex;
	justify-content: center;

	&__title {
		color: $darkColor-400;
		font-size: 3rem;
		font-family: $FiraSans;
		font-weight: $boldWeight;
		text-transform: uppercase;
	}
}

.playerInfo {
	margin: 1em 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: $PtSerif;
	font-size: 1.25rem;
	font-weight: $semiBoldWeight;

	&__turn {
		margin-left: 10em;
	}

	&__result {
		// visibility: hidden;
	}
}

.main {
	height: 35em;
	width: 45em;
	margin: 0 auto 10em;
	padding: 2.5em 3em;
	border-radius: 1.5625em;
	background-color: $lightColor-500;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1.5em;

	& > *:not(&__btn) {
		background-color: $darkColor-200;
	}

	& > * {
		cursor: pointer;
	}

	&__box {
		position: relative;

		&--para {
			margin: 0;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			color: #fff;
			font-size: 5rem;
		}
	}

	&__box1 {
		transition: all 0.5s ease;

		&:hover {
			background-color: $lightColor-400;
			transform: scale(1.1);
		}
	}

	&__btn {
		grid-column: -3 / -2;
		padding: 0.2em 0;
		background-color: $lightColor-200;
		border-radius: 0.5em;
		border: none;
		font-size: $PtSerif;
		font-size: 1.4em;
		font-weight: $semiBoldWeight;
		text-transform: uppercase;
		cursor: pointer;
	}
}
